/* General Container */
.manual-create-test-container {
  max-width: 900px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  color: #2d3748;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 100px;
}

/* Title */
.manual-create-test-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Question Bank */
.question-bank {
  margin-top: 20px;
  max-height: 400px; 
  overflow-y: auto; /* Enable vertical scrolling */
  padding-right: 10px;
}

.question-bank h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  color: #1e3a8a; 
  text-align: center;
}

.question-bank p {
  font-size: 1.8rem;
  margin-bottom: 15px;
  text-align: center;
}

.question-item {
  background: #ffffff;
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #e2e8f0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.question-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.question-item.selected {
  background: linear-gradient(90deg, #81c784, #4caf50); 
  color: white;
  font-weight: bold;
  border: 1px solid #388e3c;
}

.question-bank::-webkit-scrollbar {
  width: 8px;
}

.question-bank::-webkit-scrollbar-thumb {
  background-color: #4caf50; 
  border-radius: 4px;
}

/* Buttons */
.button-group {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.submit-test-button,
.cancel-test-button {
  padding: 12px 25px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 30px; 
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.submit-test-button {
  background: linear-gradient(90deg, #4caf50, #81c784);
  color: white;
}

.submit-test-button:hover {
  background: linear-gradient(90deg, #388e3c, #66bb6a);
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.cancel-test-button {
  background: linear-gradient(90deg, #f44336, #e57373); 
  color: white;
}

.cancel-test-button:hover {
  background: linear-gradient(90deg, #d32f2f, #f6685e);
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}
