.test-details-container {
  
  max-width: 600px;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #f9f9f9;
  color: black;
  overflow-y: hidden;
}

.test-details-container h2 {
  margin-bottom: 20px;
}

.test-details-container p {
  margin: 10px 0;
}

.start-button,
.redo-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}


.start-button:hover,
.redo-button:hover {
  opacity: 0.9;
}
